*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
body{
          width: 100%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #d15cff;
          background: linear-gradient(45deg,#d15cff,#4b28e1);
}




